<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 分散配置 -->
    <!--spring2.5之后配置方式 -->
    <context:property-placeholder location="classpath:springstudy/myspring/properties/db.properties" />

    <!-- spring2.0的时候需要这么配置 -->
    <!--<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">-->
        <!--<property name="locations">-->
            <!--<value>classpath:springstudy/myspring/properties/db2.properties</value>-->
        <!--</property>-->
    <!--</bean>-->

    <!-- 配置bean -->
    <bean id="dbutil" class="springstudy.myspring.properties.DBUtil">
        <property name="drivername" value="${db.drivername}"/>
        <property name="url" value="${db.url}"/>
        <property name="username" value="${db.username}"/>
        <property name="password" value="${db.password}"/>
     </bean>

</beans>