<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--<bean id="ChangeWord" class="ToUpper">-->
        <!--<property name="Str" value="sssaa"/>-->
    <!--</bean>-->
    <bean id="ChangeWord" class="springstudy.myspring.faceinterbean.ToLower">
        <property name="Str" value="QQSSZZ"/>
    </bean>
</beans>